header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
img {
    width: 10%;
    height: auto;
}

header nav {
    margin-right: 20px;
    color: #122620;
}
header nav li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.content {
    display: flex;
}

.content .sidebar {
    margin: 70px;
}

.content .sidebar nav li {
    list-style-type: none;
    margin: 20px;
}

.content .displayContent {
    padding: 25px;
}

footer {
    text-align: center;
}

footer a {
    margin: 20px;
}
