header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
img {
    width: 30%;
    height: auto;
}

header nav {
    margin-right: 20px;
}
header nav li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.content {
    display: flex;
}

.content .sidebar {
    padding: 30px 70px;
    max-width: 500px;
    background-color: #c4d7ff;
}

h1 {
    text-align: center;
    color: #3858ff;
}

table td {
    padding: 10px;
}

table tr {
    margin-bottom: 15px;
}

.content .displayContent {
    width: 65%;
    padding: 25px;
}

img.headshot {
    width: 30%;
    height: auto;
    display: block; /* Ensure block-level behavior */
    margin: 0 auto; /* Center horizontally */
}

footer {
    text-align: center;
}

footer a {
    margin: 20px;
}
